/* -------Fonts----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}

/* header-section */
header{
    background-color: #2D25A0;
    height: 677px;
    
    
}



.second-header{
    display: flex;
    justify-content: space-around;
     
}
.copa{
    margin-right: 51px;
    margin-left: 60px;
    margin-top: 138px;
    
}

.copa-image img{
    width: 556.01px;
    height: 438px;
    margin-top: 107px;
    
    margin-right: 42px;
    
    
}

.title-style{
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
    line-height: 86px;
    margin-bottom: 27px;
    
    
}
.link-button{
    text-decoration: none;
    padding: 10px 19px;
    background-color: #E02C6D;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;   
}
.link-button .fa-arrow-right{
    padding-left: 10px;
}
.link-button:hover .fa-arrow-right{
    transform: scale(1.5);
    transition: 1s ease-in-out;
}

/* Players section */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 0 180px;
    margin-top: 70px;
    margin-bottom: 160px;
}
.player{
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px;
    
}
.player img{
    width: 300px;
    height: 256px;
    
}
.player-name{
    font-size: 20px;
    font-weight: 700;
    color: #18191F;
    margin-top: 16px;
}
.player-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 18px;
    color: #6C6C6C;
}

/* Match section */
/*.match-container{
    display: flex;
    justify-content: center;
    margin: 0 180px;
    column-gap: 66px;
    
    
}
.match{
    margin-bottom: 100px;
}
.match-title{
    color: #0A0826;
    font-size: 48px;
    font-weight: 700;
}
.highlights-info{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: -45px;
    margin-bottom: 24px;
}
.match-image img{
    width: 567px;
    height: 427px;
}
.match a{
    margin-top: 40px;

}*/

/* Match sections end */
.partner-container{
    background-color: #DC143C;
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    /* border-radius: 10px; */
    width: 100%;
    text-align: center;
    /* margin-left: 184px; */
    padding: 30px 0;
}
.partner-container h2{
    margin-top: 0px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 40px;
}
.partnerships{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
    justify-content: space-around;
    align-items: center;
    
    border-radius: 10px;
    
   
    
}
.partner img{
    width: 90px;
}
/* Start partnerships section */



/* End partnerships section */

/* Start Footer-section  */


.total-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 63px;
}
.total-footer img{
    
width:483.87px;
height: 110px;
}
.icons ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
ul li{
    list-style: none;
}
li a i{
    color: gray;
    background-color: #C0C0C0;
    margin: 14px;
    margin-top: 10px;
    padding: 3px 8px;
    border-radius: 40%;
}
.total-footer p{
    color: #000000;
    font-size: 18px;
    margin-top: -5px;
}
/* End-footer */

/* Media-query for mobile device */
@media only screen and (max-width:688px) {
    .second-header{
        flex-direction: column;
        width: 1440px;
        
    }
    .title-style{
        font-size: 36px;
        line-height: 50px;
        
    }
    .copa-image img{
        width:329px;
        height: 259.17px;
        margin-top: 50px;

    }
    .players{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
   
    
    .partner-container{
        background-color: #DC143C;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        
    }
    .partnerships{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        
    }
    .partner-container h2{
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
    }
    .partner img{
        width: 120px;
        margin-top: 10px;
    }
    .partner img:first-child{
        margin-bottom: 50px;
    }
    .total-footer{
        margin-top: 80px;
    }
    .total-footer img{
        width: 275px;
        height: 92.8px;
    }

}